:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
	background-color: #9fd0e3;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MuseoModerno';
	src: url('/fonts/MuseoModerno-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('/fonts/MuseoModerno-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('/fonts/MuseoModerno-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('/fonts/MuseoModerno-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'MuseoModerno', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: #9fd0e3;
	background-size: 100% 600px;
	word-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 1rem;
	line-height: 1.7;
}

h1,
h2 {
	font-size: 5.5rem;
	margin: 0;
}

@media (max-width: 720px){
	h2{
		font-size: 3rem;
	}
}

p {
	font-size: 2rem;
	margin: 0;
}

.prose p {
	font-size: 1rem;
	margin-bottom: 10px;
}

.prose img {
	max-width: 100%;
	height: auto;
	border-radius: 12px;
}
.char{
	opacity: 0;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}

.post-tile {
	display: block;
	background-color: #F4F6E1;
	text-decoration: none;
	font-weight: 500;
	border-radius: 10px;
  	overflow: hidden;
	height: 100%;
	color: black;
}

.post-tile img{
	transition: all 0.3s ease-in-out;
}

.post-tile:hover img{
	transform: scale(1.05);
	transform-origin: center;
}

.tile-head{
	width: 100%;
	height: auto;
	aspect-ratio: 16/9;
	overflow: hidden;
	position: relative;
}

.tile-head img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
}

.tile-body{
	background-color: #F4F6E1;
	position: relative;
	height: auto;
	padding: 1rem;
	padding-bottom: 1.2rem;
}

.tile-body .title{
	margin: 0;
	font-size: 1.3rem;
}

.tile-body .description{
	font-size: 1rem;
	font-weight: normal;
	line-height: 20px;
}

.btn-white{
	background-color: #F4F6E1;
	border-radius: 12px;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	font-size: 1rem;
	color: #74a6ac;
	text-decoration: none;
	border: 2px solid #F4F6E1;
	transition: all 0.3s ease-in-out;
}

.btn-white:hover{
	background-color: transparent;
	color: #F4F6E1;
}