---

import { getEntry } from 'astro:content';

import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// const { title, color, image, svg, text, lines } = Astro.props;
---

<div class="overflow-x-hidden">
    <svg class="transition" width="1702" height="317" viewBox="0 0 1702 317" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1655.11 23.6662C1652.61 31.1228 1704.8 23.8187 1701.21 27.8297V244.048C1692.72 243.755 1682.69 244.219 1672.84 244.776C1653.04 254.088 1636.81 248.744 1629.73 244.048C1598.96 230.669 1602.75 280.479 1585.35 253.864C1567.93 255.695 1573.3 260.352 1540.85 264.085C1521.75 246.381 1525.88 275.615 1496.39 273.56C1484.3 266.615 1480.68 294.082 1452.12 281.152C1430.81 283.224 1418.49 287.289 1411.04 277.338C1399.29 276.786 1379.09 282.87 1376.92 302.781C1379.79 303.479 1380.32 304.287 1376.73 306.357C1376.73 305.118 1376.8 303.927 1376.92 302.781C1370.22 301.147 1350.73 300.117 1341.4 284.893C1333.11 264.748 1320.92 261.016 1322.45 283.592C1299.62 286.383 1290.91 242.657 1275.63 279.366C1263.38 311.866 1281.03 291.784 1239.75 285.656C1242.88 300.051 1229.65 315.914 1221.88 307.951C1209.75 311.958 1195.91 307.969 1195.5 286.293C1197.43 275.438 1202.63 271.232 1189.75 270.405C1187.19 270.274 1184.48 270.227 1181.63 270.258C1173.87 267.791 1156.9 284.615 1127.56 288.76C1108.94 296.253 1097.15 290.833 1080.36 286.293C1072.86 280.739 1026.87 288.94 1031.21 289.227C1043.81 329.489 983.844 291.838 992.324 298.801C986.335 304.817 970.98 303.702 962.539 300.041C949.627 300.634 928.312 293.549 918.011 299.995C889.781 271.048 929.417 278.845 879.862 270.258C876.625 281.322 851.24 275.077 841.867 276.773C820.972 292 832.587 252.061 802.508 279.384C792.813 265.763 771.386 304.984 764.082 287.217C734.441 322.984 746.174 323.388 739.52 300.201C735.797 308.95 709.135 288.868 713.586 308.313C709.425 304.159 684.776 319.242 667.73 300.3C645.135 292.386 656.656 272.708 620.041 291.453C605.714 274.484 571.653 293.149 564.952 294.118C549.192 288.653 525.084 283.296 510.037 298.326C497.231 298.631 484.526 317.887 455.105 300.56C404.908 317.484 404.712 267.135 399.978 297.312C399.218 305.756 352.343 271.694 360.964 283.7C368.613 288.195 349.709 311.463 329.011 281.134C342.303 258.261 299.765 312.62 292.218 275.059C289.851 257.193 247.883 299.959 255.32 269.235C236.385 285.916 247.099 276.647 219.786 275.938C247.742 263.851 197.889 260.917 180.843 283.251C157.033 301.915 151.484 279.384 139.47 285.118C134.148 270.85 113.458 292.826 98.9431 291.264C96.0573 295.383 93.4638 296.449 90.8656 296.117C84.7852 296.672 77.481 293.005 70.431 291.264C70.6178 295.822 68.1684 297.994 64.0256 298.583C58.593 300.111 50.4316 299.52 42.4291 297.798C31.587 295.704 20.6934 291.195 17.7202 287.043C11.3003 284.411 5.11343 282.108 0.00390625 281.134C0.00390625 240 0.0107625 43.1019 0.0107625 43.1019C0.770978 45.5067 40.1219 49.9215 39.299 39.6383C52.3167 37.0989 67.9834 37.6642 77.2314 30.9075C91.746 31.7151 112.444 20.4628 117.758 27.7669C129.772 24.8327 135.321 36.3721 159.131 26.8157C176.169 15.384 226.022 16.8825 198.074 23.074C225.387 23.4419 214.674 28.1886 233.608 19.6462C226.171 35.3761 268.139 13.4817 270.506 22.6253C278.054 41.8547 319.152 21.2704 305.86 32.9803C326.558 48.5037 347.719 46.7181 340.07 44.421C331.449 38.2834 378.331 55.7181 379.084 51.3931C383.817 35.9414 384.013 61.7122 434.211 53.0531C463.64 61.9275 476.344 52.0661 489.143 51.9135C504.19 44.2146 528.297 46.9604 544.058 49.76C550.759 49.2665 584.82 39.7101 599.146 48.3961C635.77 38.8038 624.241 48.8716 646.836 52.9275C663.882 62.6274 688.53 54.9016 692.692 57.0282C688.24 47.077 714.903 57.3512 718.625 52.8736C725.287 64.7361 713.555 64.5297 743.188 46.2246C750.492 55.3143 771.911 35.2415 781.614 42.2136C811.693 28.2245 800.07 48.6653 820.972 40.8766C830.346 40.0062 855.731 43.2006 858.967 37.5386C908.523 41.9354 869.328 13.9214 897.558 28.736C913.993 23.4688 942.152 31.4997 935.804 17.4119C895.442 21.728 962.325 13.4638 974.152 7.38897C965.672 3.82664 1025.64 23.1009 1013.04 2.48965C1008.7 2.33711 1054.69 -1.85333 1062.19 0.982169C1078.98 3.3062 1090.76 6.07889 1109.38 2.24738C1138.73 0.120751 1137.11 7.90941 1144.87 9.17462C1167.7 9.04899 1182.09 11.4987 1179.83 17.9952C1180.61 38.7679 1223.61 31.5266 1219.29 21.387C1260.57 24.5186 1242.92 34.8018 1255.18 18.1657C1270.46 -0.624018 1262.85 17.4209 1285.68 15.9942C1284.16 4.43682 1312.66 10.6821 1320.94 20.9922C1334.27 32.1099 1368.25 28.4399 1356.28 31.9753C1361.32 34.2724 1377.72 40.8497 1390.15 41.1458C1397.6 46.2425 1409.92 44.1608 1431.23 43.1019C1459.79 49.7151 1463.41 35.6632 1475.49 39.2166C1504.99 40.2754 1500.86 25.3083 1519.96 34.3711C1552.41 32.4598 1547.04 30.073 1564.46 29.1398C1581.85 42.761 1578.06 17.2684 1608.84 24.1148C1616.29 26.6453 1633.89 29.5436 1655.11 23.6662Z" fill="#74a6ac"/>
    </svg>

    <section class="blog-block">
        <div class="blog-container">
            
            <div class="blog-header">
                <h3 class="title">Actualités</h3>
                <a href={`/blog/`} class="btn-white">Voir plus</a>
            </div>
           
            <ul>
                {
                    posts.slice(0, 3).map((post) => (
                        <li class="post-card">
                            <a href={`/blog/${post.id}/`} class="post-tile">
                                <div class="tile-head">
                                    <img src={post.data.heroImage} alt="" />
                                </div>
                                <div class="tile-body">
                                    <h4 class="title">{post.data.title}</h4>
                                    <p class="description">{post.data.description}</p>
                                </div>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    
    </section>
</div>

<script>
  import { initPageAnimations } from '../scripts/animations.js';
 
  document.addEventListener('DOMContentLoaded', () => {
    initPageAnimations();
  });
</script>

<style>

    .overflow-x-hidden {
        position: relative;
    }

    .transition{
        position: absolute;
        top: -4vw;
        left: 0;
        width: 100%;
        height: auto;
    }

    .blog-block{
        /* width: 100vw; */
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding-bottom: 3rem;
        background-color: #74a6ac;
    }

    .blog-header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 1048px) {
        .blog-header{
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }

    @media screen and (max-width: 670px) {
        .blog-header{
           flex-direction: column;
           gap: 1rem;
           align-items: flex-start;
   
        }
    }

    .blog-container{
        margin-top: 5rem;
        margin-bottom: 7rem;
    }

    .blog-block h3{
        font-size: 4rem;
        margin: 0;
        text-align: left;
        color: #F4F6E1;
        /* font-weight: 400; */
        line-height: 60px;
    }

    ul{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        padding: 0;
        
    }

    li{ 
        height: 100%;
        width: auto;
        list-style: none;
        overflow: hidden;
        position: relative;
        width: 20rem;
    }

    li a img{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

   
    
    @media screen and (max-width: 670px) {
        .btn-white, 
        .blog-block h3{
            margin: 0 auto;
        }
    }

    
</style>