---
const { title, image, text } = Astro.props;
---
<section class="first-block">
    <h2>{title}</h2>
    <img src={image} alt={title} />
    <p>{text}</p>
</section>

<style>
	.first-block {
		height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: red;
	}
</style>