---
import HeaderLink from './HeaderLink.astro';
const { mail } = Astro.props;
// import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
		<div class="internal-links">
			<!-- <HeaderLink href="/">Accueil</HeaderLink>
			<HeaderLink href="/blog">Actualités</HeaderLink> -->
			<!-- <HeaderLink href="/about">Contact</HeaderLink> -->
			<!-- <HeaderLink href={`mailto:${mail}`}>Contact</HeaderLink> -->
			<a href={`mailto:${mail}`}>Contact</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background-color: transparent;
		position: absolute;
		z-index: 1;
		right: 0;
		top: 1rem;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0;
		margin: 1rem;
		color: #F4F6E1;
		border-bottom: 4px solid transparent;
		text-decoration: none;
		transition: color 0.2s ease-in-out;
	}
	nav a:hover{
		color: #0B2828;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
