---
import HeaderLink from './HeaderLink.astro';
const { mail } = Astro.props;
// import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
		<div class="internal-links">
			<HeaderLink href="/">Accueil</HeaderLink>
			<HeaderLink href="/blog">Actualités</HeaderLink> 
			<HeaderLink href="/contact">Contact</HeaderLink>
			<!-- <HeaderLink href={`mailto:${mail}`}>Contact</HeaderLink> -->
			<!-- <a href={`mailto:${mail}`} class="btn-white">Contact</a> -->
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background-color: transparent;
		position: absolute;
		z-index: 1;
		right: 0;
		top: 1rem;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		margin: 1rem;
		color: rgb(var(--gray-dark));
		text-decoration: none;
		transition: all 0.3s ease-in-out;
	}

	nav .btn-white{
		color: #90b9ca;
	}

	nav .btn-white:hover{
		color: #F4F6E1;
	}

	@media screen and (max-width: 670px) {
		header{
			left: 50%;
			right: auto;
			transform: translate(-50%);
			width: max-content;
		}
	}

</style>
